<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>FullCalendar drag & drop events between multiple calendars</title>


    <link rel='stylesheet' href=/public/stylesheets/fullcalendar.min.css>
    <link rel='stylesheet' href=/public/stylesheets/calbootstrap.css>

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="icon" type="img/png" href="public/img/icons/favicon.ico"/>

</head>

<body>

<div id='wrap'>

    <div id='external-events'>
        <h3>Мероприятие</h3>




        <div id='external-events-listing'>

            <div class='fc-event' id="demo">Мероприятие 1</div>
            <div class='fc-event' id="demo1">Мероприятие 2</div>
            <div class='fc-event' id="demo2">Мероприятие 3</div>
            <div class='fc-event' id="demo3">Мероприятие 4</div>
            <div class='fc-event' id="demo4">Мероприятие 5</div>
        </div>
        <p>
            <input type='checkbox' id='drop-remove' checked='checked' />
            <label for='drop-remove'>удалить после использование</label>
        </p>
    </div>
    <div class="container">
        <div class="col-md-15">

            <div class="col-md-10 mb-20">
                <div id='calendar1'></div>
            </div>


        </div>
    </div>


<script  src="/public/javascripts/jquery-1.6.4.min.js"></script>

<script  src="/public/javascripts/jquery-ui.min.js"></script>
<script  src="/public/javascripts/moment.min.js"></script>
<script  src="/public/javascripts/fullcalendar.min.js"></script>
<script  src="/public/javascripts/calbootstrap.js"></script>

<script  src="/public/javascripts/index.js"></script>
<script  src="/public/javascripts/locale-all.js"></script>





</body>

</html>