<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="img/png" href="public/img/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">

    <!--===============================================================================================-->
</head>
<body>

<div class="limiter" style="background-image: url('public/img/bg-01.jpg');"> <a class="navbar-brand js-scroll-trigger" href="/">Nurface</a>
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="@{Application.authorize}" method = "post">
					<span class="login100-form-title p-b-49">
						Войти в профиль
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Нужен ваш логин">
                    <span class="label-input100">Имя</span>
                    <input class="input100" type="text" name="first" placeholder="Ваш логин">
                    <span class="focus-input100" data-symbol="&#xf1a6;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Нужен пароль">
                    <span class="label-input100">Пароль</span>
                    <input class="input100" type="password" name="password" placeholder="Ваш Пароль">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="/#contact">
                        Забыли Пароль?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                           Войти
                        </button>
                    </div>
                </div>

            </form>
        </div></div></div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="public/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="public/vendor/bootstrap/js/popper.js"></script>
<script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="public/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="public/vendor/daterangepicker/moment.min.js"></script>
<script src="public/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="public/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="public/javascripts/main.js"></script>

</body>
</html>