<!DOCTYPE html>
<!-- Template by html.am -->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset=UTF-8">
    <title>Myacc</title>

    <link rel="stylesheet" type="text/css" href="public/stylesheets/myacc.css">
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="img/png" href="public/img/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->

    <!--===============================================================================================-->

    <!--===============================================================================================-->

    <link href="/public/stylesheets/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">
    <link rel="stylesheet" href="/public/stylesheets/widget.css">

</head>

<body>
<header id = "header" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="/" >Nurface</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="http://nurotan.kz/">НурОтан</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="http://www.government.kz/ru/akimaty-oblastej-gorodov-astany-almaty.html">Акиматы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://primeminister.kz/page/gosorgan#tab2">ЦентрГосОрган</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/https://epay.railways.kz/ktz4/proc?pa=clients">КТЖ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#contact">Служба Поддержки</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light btn-xl" href="/">Выйти</a>
            </li>
        </ul>
    </div>
    </div>
</header>


<div id="container">


    <div id="box" class="column"><article>Новостная лента</article>
    </div>
    <main id="center" class="column"> <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://sed.nurotan.kz/edo/Portal.CSP.portal.cls" target="_blank">
        <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
                <div class="project-name">
                    Система Кадров
                </div>
            </div>
        </div>
    </a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://db.nurotan.kz/" target="_blank">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-name">
                        ЦБДУ
                    </div>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://spm.nurotan.kz/" target="_blank">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-name">
                        Академия политического <br> менеджмента
                    </div>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://zhasotan.kz/" target="_blank">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-name">
                        ЖасОтан
                    </div>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://cpass.kz/index.php/ru/" target="_blank">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-name">
                        Институт стратегических </br> инициатив
                    </div>
                </div>
            </div>
        </a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://kk.nurotan.kz/" target="_blank">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-name">
                        Общественная приемная
                    </div>
                </div>
            </div>
        </a></main>

    <nav id="left" class="column">
        <ul>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/NPA" target="_blank">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            НПА
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/Calendar" target="_blank">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-name">
                            Календарь
                        </div>
                    </div>
                </div>
            </a>
        </ul>

    </nav>

    <div id="right" class="column pr-5">
        <div class="row">
            <div class="left" style="">
                <h2>Телефонная книга</h2>
                <input id="myInput" type="text" placeholder="Справочник...">

            </div>

            <div id="cal">
                <div class="header">


                    <span class="left button" id="prev"> &lang; </span>
                    <span class="left hook"></span>
                    <span class="month-year" id="label"> Июнь 2018 </span>
                    <span class="right hook"></span>
                    <span class="right button" id="next"> &rang; </span

                </div>
                <table id="days">
                    <td>Вс</td>
                    <td>Пн</td>
                    <td>Вт</td>
                    <td>Ср</td>
                    <td>Чт</td>
                    <td>Пт</td>
                    <td>Сб</td>

                </table>
                <div id="cal-frame">
                    <table class="curr">
                        <tbody>
                        <tr><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
                        <tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td class="today">11</td><td>12</td></tr>
                        <tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr>
                        <tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr>
                        <tr><td>27</td><td>28</td><td>29</td><td>30</td><td class="nil"></td><td class="nil"></td><td class="nil"></td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <ul class="navbar-nav">


                <li class="nav-item">
                    <a class="login100-social-item bg1" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="login100-social-item bg2" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="login100-social-item bg3" href="https://www.google.com/gmail/about/"><i class="fa fa-google"></i></a>
                </li>
                <li class="nav-item">
                    <a class="login100-social-item bg4" href="https://halykbank.kz/"><i class="fa fa-credit-card"></i></a>
                </li>

            </ul>
        </div>

    </div></div>


    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/public/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/public/javascripts/creative.min.js"></script>


    <script src="public/javascripts/style.js"></script>


    <script  src="/public/javascripts/index.js"></script>
<script>
    var cal = CALENDAR();

    cal.init();</script>


</body>

</html>